<!DOCTYPE html>
<html>
  <head>
    <title>管理系统登陆</title>
    <link rel='stylesheet' href='/stylesheets/login/login.css' />
  </head>
  <body>
  	<div class="table">
  		<div class="tab-cell">
  			<div class="form-content"> 
  				
  			</div>
  		</div>
  	</div>
  </body>
  <script type="text/javascript" src="/js/bubbly-bg.js"></script>
  <script type="text/javascript">
	bubbly({
			colorStart: "#fff4e6",
			colorStop: "#ffe9e4",
			blur: 1,
			compose: "source-over",
			bubbleFunc: () => `hsla(${Math.random() * 50}, 100%, 50%, .3)`
		});
  </script>
</html>
