html,body{
	height:100%;
}
input[type=text], textarea {
	 border: 1px solid #ddd;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.header{
	width:100%;
	padding:20px;
	text-align:left;
	font-size:16px;
	background: #333;
	color:#fff;
	font-weight:bolder;
}
.drodown{
	float:right;
	cursor:pointer;
}
.content{
	margin-top:10px;
	height:100%;
	margin-top:-60px;
	padding-top:60px;
}
.content>.left{
	width:200px;
	height:100%;
	float:left;
	background:#313131;
	color:#fff;
}
.content>.right{
	height:100%;
	padding-left:200px;
}
.content>.right>div:first-child{
	height:100%;
	padding:10px;
	overflow-y:auto;
}
.left>ul{
	width:100%;
	height:100%;
	font-size:14px;
	color:#cecece;
}
.left>ul>li{
	width:100%;
	text-align:center;
	line-height:45px;
	background:#555;
	cursor:pointer;
	font-weight:700;
	letter-spacing:2px;
}
.left>ul>li>.child-list{
	background:#313131;
}
.child-list>li{
	border-bottom:1px #494948 dotted;
}
.child-list>li:hover{
	background:rgba(85,85,85,0.5);
}
.child-list>li>a{
	font-size:12px;
	color:#fff;
}
.child-list>li:last-child{
	border-bottom:0 none;
}
.left>ul>li>span{
	display:block;
	cursor:pointer;
	font-size:14px;
}
.left>ul a{
	color:#cecece;
}
.active{
	background:rgb(243, 88, 68);
}
.textover{
	width:150px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.modal-dialog {
	position: relative;
	margin:20px auto!important;
}
.modal-title{
	font-size:22px;
	font-weight:bold;
}
#addform>table>tbody>tr>td>span:first-child:after{
    content:"*";
    color:red;
    display:inline-block;
    vertical-align:middle;
}