<!DOCTYPE html>
<html>
  <body>
  <div class="left">
      <ul class="menu">
          <li>
              <span>商品管理</span>
              <ul class="child-list">
                  <li><a href="/home">商品列表</a></li>
                  <li><a href="/home/classes">商品分类</a></li>
              </ul>
          </li>
          <li>
              <span>会员管理</span>
              <ul class="child-list">
                  <li><a href="/home/viplist">会员列表</a></li>
                  <li><a href="/home/addvip">添加会员</a></li>
              </ul>
          </li>
      </ul>
  </div>
  </body>
</html>
